NODEFLOW.txt
[{"id":"ea5b855c.d17128","type":"ibmiot","z":"715069b7.987778","name":"MyWatsonIoT"},{"id":"184c9244.44bc1e","type":"ibmiot in","z":"715069b7.987778","authentication":"apiKey","apiKey":"ea5b855c.d17128","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbed-endpoint","eventType":"observation","commandType":"","format":"json","name":"connector-bridge source (observations)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":183,"y":57,"wires":[["bd0bcfae.182da","243d4e7d.aa1fb2","10559d3e.41f8a3"]]},{"id":"bd0bcfae.182da","type":"debug","z":"715069b7.987778","name":"","active":true,"console":"false","complete":"payload.d.value","x":906.9524154663086,"y":59.85714530944824,"wires":[]},{"id":"5f12503.a01b2b","type":"switch","z":"715069b7.987778","name":"Is Value Even or Odd?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":340,"y":128,"wires":[["fbd48c7c.fd83f"],["10f2a1b8.11eb4e"]]},{"id":"9e1308ab.a0b558","type":"ibmiot out","z":"715069b7.987778","authentication":"apiKey","apiKey":"ea5b855c.d17128","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-endpoint","eventCommandType":"put","format":"json","data":"0","name":"connector-bridge sink (PUT CMD)","service":"registered","x":948,"y":183,"wires":[]},{"id":"10f2a1b8.11eb4e","type":"template","z":"715069b7.987778","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":603.8888549804688,"y":153.55555725097656,"wires":[["31331be.b2f34e4","ac576d20.6e21d","9e1308ab.a0b558"]]},{"id":"fbd48c7c.fd83f","type":"template","z":"715069b7.987778","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":603.6666870117188,"y":103,"wires":[["9e1308ab.a0b558","31331be.b2f34e4"]]},{"id":"243d4e7d.aa1fb2","type":"function","z":"715069b7.987778","name":"Even Value Calc","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var check = (msg.payload.d.value)/2;\n    var orig = parseInt(check);\n    var remainder = check - orig;\n    if (remainder !== 0) {\n        return {payload:1};\n    }\n    else { \n        return {payload:2};\n    }\n}\nelse {\n    return {payload:0}\n}","outputs":1,"noerr":0,"x":127.77777862548828,"y":165.333327293396,"wires":[["e7d86334.43ae","5f12503.a01b2b"]]},{"id":"e7d86334.43ae","type":"debug","z":"715069b7.987778","name":"","active":false,"console":"false","complete":"payload","x":308.8888816833496,"y":201.77777671813965,"wires":[]},{"id":"31331be.b2f34e4","type":"debug","z":"715069b7.987778","name":"","active":false,"console":"false","complete":"false","x":878.1428337097168,"y":129.99999618530273,"wires":[]},{"id":"91891ddf.07d5b","type":"ibmiot out","z":"715069b7.987778","authentication":"apiKey","apiKey":"ea5b855c.d17128","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-endpoint","eventCommandType":"get","format":"json","data":"0","name":"connector-bridge sink (GET CMD)","service":"registered","x":948,"y":231,"wires":[]},{"id":"ac576d20.6e21d","type":"template","z":"715069b7.987778","name":"Request TEMP Resource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/303/0/5700\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"get\" }","x":647,"y":231,"wires":[["91891ddf.07d5b"]]},{"id":"8713860.c7cf678","type":"ibmiot in","z":"715069b7.987778","authentication":"apiKey","apiKey":"ea5b855c.d17128","inputType":"evt","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","applicationId":"","deviceType":"mbed-endpoint","eventType":"cmd-response","commandType":"","format":"json","name":"connector-bridge source (CMD Response)","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","x":201.111083984375,"y":569.5555419921875,"wires":[["e95c03f2.93d9a","75ef11f3.2a1a"]]},{"id":"e95c03f2.93d9a","type":"debug","z":"715069b7.987778","name":"","active":false,"console":"false","complete":"payload.d","x":896.0793533325195,"y":570.4444484710693,"wires":[]},{"id":"10559d3e.41f8a3","type":"function","z":"715069b7.987778","name":"Get Counter Value","func":"var path = msg.payload.d.path;\nif (path == \"/123/0/4567\") {\n    var value = msg.payload.d.value;\n    return {payload:value}\n}\nreturn {payload:-1}","outputs":1,"noerr":0,"x":155,"y":284,"wires":[["51a5a7f3.bd7d48","4fe08789.058358","aaf769f4.52a028"]]},{"id":"51a5a7f3.bd7d48","type":"switch","z":"715069b7.987778","name":"Is Value greater than 22?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"}],"checkall":"true","outputs":1,"x":401,"y":377,"wires":[["a23c3514.7dfa38","29df9f5e.d603f"]]},{"id":"a23c3514.7dfa38","type":"template","z":"715069b7.987778","name":"Reset Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":623,"y":377,"wires":[["9e1308ab.a0b558"]]},{"id":"4fe08789.058358","type":"switch","z":"715069b7.987778","name":"Is Value 10?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":360,"y":333,"wires":[["41e86a97.1b3674"]]},{"id":"41e86a97.1b3674","type":"template","z":"715069b7.987778","name":"Add 10 to Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"10\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":628.4443969726562,"y":332.888916015625,"wires":[["70da1962.5a62a8"]]},{"id":"aaf769f4.52a028","type":"switch","z":"715069b7.987778","name":"Is Value 5?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","outputs":1,"x":358,"y":284,"wires":[["14d74e18.bc9592"]]},{"id":"14d74e18.bc9592","type":"template","z":"715069b7.987778","name":"Set Counter to 8","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"8\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":619.6666870117188,"y":284.1111145019531,"wires":[["9e1308ab.a0b558"]]},{"id":"70da1962.5a62a8","type":"ibmiot out","z":"715069b7.987778","authentication":"apiKey","apiKey":"ea5b855c.d17128","outputType":"cmd","deviceId":"cc69e7c5-c24f-43cf-8365-8d23bb01c707","deviceType":"mbed-endpoint","eventCommandType":"post","format":"json","data":"0","name":"connector-bridge sink (POST CMD)","service":"registered","x":952,"y":441,"wires":[]},{"id":"29df9f5e.d603f","type":"template","z":"715069b7.987778","name":"DeRegister Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/86/0/1\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":634,"y":451,"wires":[["70da1962.5a62a8"]]},{"id":"6987fd52.937384","type":"template","z":"715069b7.987778","name":"Reboot Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/3\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":625,"y":492,"wires":[["70da1962.5a62a8"]]},{"id":"726e8d4e.87de84","type":"template","z":"715069b7.987778","name":"Reset Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/5\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":616,"y":529,"wires":[["70da1962.5a62a8"]]},{"id":"3a5850c6.a66c","type":"template","z":"715069b7.987778","name":"Invoke FOTA","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/5/0/2\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":613,"y":614,"wires":[["70da1962.5a62a8"]]},{"id":"75ef11f3.2a1a","type":"switch","z":"715069b7.987778","name":"FOTA Manifest set Response?","property":"payload.d.path","propertyType":"msg","rules":[{"t":"eq","v":"/5/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":356,"y":614,"wires":[["3a5850c6.a66c"]]},{"id":"da8233a6.49c4f","type":"template","z":"715069b7.987778","name":"Set FOTA Manifest","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/5/0/1\", \"new_value\":\"{\\\"key\\\":\\\"123\\\",\\\"sig\\\":\\\"456\\\",\\\"image\\\":\\\"fw.bin\\\"}\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":633,"y":414,"wires":[["9e1308ab.a0b558"]]}]
